

<div class="header">

      <div class="iconbar iconbar-horizontal">
            <ul>
              <li>{{#link-to 'messages' classNames="fui-user" }}
                <span class="iconbar-unread">{{unread}}</span>
                {{/link-to}}
              </li>

            </ul>
       </div>
</div>
      <div class="content full" >

{{outlet}}
        </div>


<div class="footer">

{{#if controller.activated}}
<a {{action 'activate'}} class="btn btn-huge btn-primary btn-block btn-full"><i class="fui-check-inverted"></i> deactivate</a>
</div>

{{else}}

<button {{action 'activate'}} class="btn btn-huge btn-primary btn-block btn-full"><i class="fui-check-inverted"></i> activate</button>

{{/if}}

  </div>  

