
<div class="col-xs-12">
<img {{bind-attr src='image'}}/>
</div>
<div class="col-xs-12">
<span class="name">{{name}} </span>
<p>{{headline}}</p>
</div>

<div class="col-xs-12">
<div class="col-xs-6">
<button {{action 'choice' 0}}class="btn btn-large btn-block btn-danger">No</button>
</div>
<div class="col-xs-6">
<button {{action 'choice' 1}} class="btn btn-large btn-block btn-success">Yes</button>
</div>

</div>


